body {
  background-color: black;
}

tr,
td {
  border: 1px;
  border-style: solid;
}
td {
  height: 50px;
  width: 50px;
  background-color: white;
}

button {
  border-radius: 6px;
  font-size: 16px;
  background-color: #373da1;
  color: white;
  cursor: pointer;
}

button:hover {
  color: aqua;
}

select {
  font-size: 16px;
  border: none;
}
